<main class="container-fluid">
  <% flash.each do |_, msg| %>
    <div class='alert'>
      <%= msg %>
    </div>
  <% end %>
  <div>
    <h2><%= I18n.t('upload.heading') %></h2>
    <p><%= I18n.t('upload.subheading') %></p>
  </div>

  <section>
    <%= form_with url: jobs_path, id: 'file-uploader' do |form| %>
    <div
      data-controller="uppy"
      data-uppy-parent-form="file-uploader"
      data-uppy-input-name="test-foo"
      >
    </div>
      <div>
        <%= form.submit 'Upload', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </section>
</main>
