<header>
  <h1><%= I18n.t('ui_page.heading')%></h1>
</header>

<main class="container">
  <div>
    <h2><%= I18n.t('ui_page.upload.heading')%></h2>
    <p><%= I18n.t('ui_page.upload.subheading')%></p>
  </div>

  <section>
    <%= form_with model: @job, url: ui_create_path do |form| %>
      <div>
        <%= form.label :file %>
        <%= form.file_field :file %>
        <%= form.text_field :source_url%>
      </div>
      <div>
        <%= form.submit 'Upload'%>
      </div>
    <% end %>
  </section>

  <section>
    <p><%= I18n.t('ui_page.upload.no_file')%></p>
  </section>
</main>

<aside>
  <section>
    <h3><%= I18n.t('about.document_reqs.heading')%></h3>
    <p></p>
  </section>
</aside>

<footer></footer>