<header clas="header-mark">
  <h1>
    <a class="site-title" href="#">
      <%= I18n.t('ui_page.heading')%>
    </a>
  </h1>
</header>

<main class="container-fluid">
  <div>
    <h2><%= I18n.t('ui_page.upload.heading')%></h2>
    <p><%= I18n.t('ui_page.upload.subheading')%></p>
  </div>

  <section>
    <%= form_with model: @job, url: ui_create_path do |form| %>
        <%= form.label :file %>
        <%= form.file_field :file %>
      <div>
        <%= form.submit 'Upload'%>
      </div>
    <% end %>
  </section>

  <section class="uploaded-files">
    <p><%= I18n.t('ui_page.upload.no_file')%></p>
  </section>
</main>


<footer>
  <h3><%= I18n.t('about.document_reqs.heading')%></h3>
  <p></p>
</footer>