<header>
  <h1><%= I18n.t('ui_page.heading')%></h1>
</header>

<main>
  <div>
    <h2><%= I18n.t('ui_page.upload.heading')%></h2>
    <h3><%= I18n.t('ui_page.upload.subheading')%></h3>
  </div>

  <section>
    <h3></h3>
    <form>
      <input>
      <button></button>
    </form>
  </section>

  <section>
    <p><%= I18n.t('ui_page.upload.no_file')%></p>
  </section>
</main>

<aside>
  <h2><%= I18n.t('about.heading')%></h2>
  <section>
    <h3><%= I18n.t('about.document_reqs.heading')%></h3>
    <p></p>
  </section>

  <section>
    <h3></h3>
  </section>
</aside>

<footer></footer>