<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Pdf Accessibility Api" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag 'https://assets.libraries.psu.edu/psulib_base/dist/peripheral/peripheral.min.css', media: 'all', crossorigin: 'anonymous' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <header class="navbar pb-0">
      <div class='container-fluid'>
        <div class='header-mark navbar-brand'>
          <%= link_to image_pack_tag('static/frontend/img/logo-penn_state_university_libraries.png', :alt => "Site logo"), 'https://libraries.psu.edu/' %>
          <h1 class="header-mark--name-slogan">
              <a href='/' class='site-title'>
              <%= I18n.t('heading') %>
              </a>
            </h1>
        </div>
      </div>
      <div class="container-fluid nav-main-menu-container">
        <nav class="header-nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'New PDF Job', new_pdf_job_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'My PDF Jobs', pdf_jobs_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'New Alt-Text Job', new_image_job_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'My Alt-Text Jobs', image_jobs_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Help', help_page_path, class: "nav-link" %>
            </li>
            <% if request.session[:admin] %>
              <li class="nav-item">
                <%= link_to 'Admin', rails_admin_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <footer class='text-light'>
      <div class='container-fluid'>
        <div class='header-mark'>
          <div class='site-logo col-lg-3'>
            <%= link_to image_pack_tag('static/frontend/img/logo-penn_state_university_libraries.png', :alt => "Site logo"), 'https://libraries.psu.edu/' %>
          </div>
          <div class="col-lg-6">
            <p><%= t('footer.heading') %></p>
            <p><%= t('footer.description') %></p>
          </div>
          <div class="col-lg-3">
            <p><%= t('footer.copyright_statement') %></p>
            <p>
              <%= link_to 'Penn State', 'https://www.psu.edu' %> |
              <%= link_to 'University Libraries', 'https://libraries.psu.edu/' %> |
              <%= link_to 'Accessibility', 'https://accessibility.psu.edu/' %>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
