<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pdf Accessibility Api" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag 'https://assets.libraries.psu.edu/psulib_base/dist/peripheral/peripheral.min.css', media: 'all', crossorigin: 'anonymous' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <div class='container-fluid'>
        <div class='header-mark'>
          <%= link_to image_tag('logo-penn_state_university_libraries.png', :alt => "Site logo"), 'https://libraries.psu.edu/' %>
          <h1 class="header-mark--name-slogan">
              <a href='/' class='site-title'>
              <%= I18n.t('heading') %>
              </a>
            </h1>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class='text-light'>
      <div class='container-fluid'>
        <div class='header-mark'>
          <div class='site-logo col-lg-3'>
            <%= link_to image_tag('logo-penn_state_university_libraries.png', :alt => "Site logo"), 'https://libraries.psu.edu/' %>
          </div>
          <div class="col-lg-6">
            <p><%= t('footer.heading') %></p>
            <p><%= t('footer.description') %></p>
          </div>
          <div class="col-lg-3">
            <p><%= t('footer.copyright_statement') %></p>
            <p>
              <%= link_to 'Penn State', 'https://www.psu.edu' %> |
              <%= link_to 'University Libraries', 'https://libraries.psu.edu/' %> |
              <%= link_to 'Accessibility', 'https://accessibility.psu.edu/' %>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
